#screen{
    
    height: 25vh;
    width: 51vw;
    background-color: rgb(200, 228, 200);
    border: 3px solid red;
   
    margin-top: 25vh;
    margin-left: 25vw;
}
.box {
    display: flexbox;
    height: 50vh;
    width: 51vw;
    background-color: rgb(200, 228, 200);
    border: 3px solid red;
  
    /* margin-top: 25vh; */
    margin-left: 25vw;

}

.box button {
    height: 10vh;
    /* max-width: max-content; */
    /* border: 3px solid rgb(178, 32, 32); */
    width: 15vw;
    /* display: inline-flex; */


   
    font-size: 5vh;
}


